body {
  font-size: 20px;
  text-align: center;
  color: white;
   -webkit-text-stroke-color: black;
}

h1 {
  -webkit-text-stroke-width: 5px;
  margin-top: 200px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 10;  
}

p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
}
